<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">
    <title>JumpServer Monitor Terminal</title>
    <script type="text/javascript" src="/koko/static/js/neffos.min.js"></script>
    <script type="text/javascript" src="/koko/static/js/uuidv4.min.js"></script>
    <script src="/koko/static/js/xterm.min.js"></script>
    <link rel="stylesheet" href="/koko/static/js/xterm.min.css"/>
</head>
<body>
<div>
    <div id="terminal"></div>
</div>

<script src="/koko/static/js/koko.js"></script>
<script type="text/javascript">
    window.onload = function () {
        main({{.}})
    }
</script>

</body>
</html>