.tree-wrapper {
  height: 100%;
  overflow: hidden;
  background-color: var(--tree-bg-color) !important;

  :deep(.n-descriptions) {
    background-color: var(--tree-bg-color) !important;
  }

  :deep(.n-descriptions-header) {
    height: 35px;
    margin-bottom: unset;
    margin-left: 24px;
    font-size: 11px;
    font-weight: 400;
    line-height: 40px;
    color: var(--tree-header-text-color) !important;
    background-color: var(--tree-bg-color) !important;
  }

  :deep(.n-descriptions-table-wrapper) {
    height: calc(100vh - 35px - 35px);
  }

  .collapse-item {
    margin: 0;
    height: 100%;

    :deep(.n-collapse-item__header) {
      padding-top: 0;

      .n-collapse-item__header-main {
        height: 22px;
        margin-left: 5px;
        font-size: 13px;
        color: var(--tree-header-text-color);
      }
    }

    :deep(.n-collapse-item__content-wrapper) {
      margin-top: 5px;
      margin-left: 15px;

      .n-collapse-item__content-inner {
        padding-right: 15px;
        padding-top: 0;

        .tree-item .n-tree-node-wrapper {
          //padding: 0 0 5px 0;
          padding: 0;
          line-height: 17px;
          font-size: 13px;

          &:hover {
            background-color: var(--tree-hover-color) !important;
          }

          .n-tree-node-content {
            padding-left: 5px;
            color: var(--tree-node-text-color) !important;

            .n-tree-node-content__text {
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              font-size: 13px;
              color: var(--tree-node-text-color) !important;
            }
          }
        }
      }
    }
  }
}
