.header-tab {
  width: 100% !important;
  background-color: var(--tab-bg-color) !important;

  :deep(.n-tabs-nav) {
    height: 45px;
    background-color: var(--tab-bg-color) !important;

    .n-tabs-tab-wrapper {
      height: 45px;
    }
  }

  :deep(.n-tabs-tab-pad) {
    display: none;
  }

  :deep(.n-tabs-tab) {
    background-color: var(--tab-inactive-bg-color) !important;
    border: none !important;

    .n-tabs-tab__label {
      color: var(--tab-inactive-text-color) !important;
    }

    &.n-tabs-tab--active {
      background-color: var(--tab-active-bg-color) !important;

      .n-tabs-tab__label {
        color: var(--tab-active-text-color) !important;
      }
    }
  }

  .n-tab-pane {
    padding-top: 0 !important;
  }

  :deep(.icon-item) {
    svg {
      color: var(--icon-color);
      fill: var(--icon-color);
    }

    &:hover {
      background-color: var(--icon-hover-bg-color);
    }
  }
}

.k8s-terminal {
  overflow: hidden;

  :deep(.xterm-viewport) {
    overflow: hidden;
  }

  :deep(.xterm-screen) {
    width: 100% !important;
    height: calc(100vh - 65px) !important;
  }

  :deep(.xterm) {
    padding: 10px 0 10px 10px;
  }
}
