$--el-main-tab-bg-color: #252526;
$--el-main-tab-text-color: #ffffff;
$--el-main-tab-icon-color: #c5c5c5;
$--el-main-tab-icon-hover-color: #5a5d5e4f;
$--el-main-text-color: #cccccc;
$--el-main-bg-color: #1e1e1e;

.header-tab {
    width: 100% !important;
    background-color: $--el-main-tab-bg-color;

    :deep(.n-tabs-nav) {
        height: 35px;
    }

    :deep(.n-tabs-tab-pad) {
        display: none;
    }

    :deep(.n-tabs-tab) {
        background-color: #2d2d2d !important;
        border: none !important;

        .n-tabs-tab__label {
            color: #969696;
        }

        &.n-tabs-tab--active {
            background-color: #1e1e1e !important;

            .n-tabs-tab__label {
                color: #ffffff;
            }
        }
    }

    .n-tab-pane {
        padding-top: 0 !important;
    }

    :deep(.icon-item) {
        svg {
            color: $--el-main-tab-icon-color;
            fill: $--el-main-tab-icon-color;
        }

        &:hover {
            background-color: $--el-main-tab-icon-hover-color;
        }
    }
}

.k8s-terminal {
    overflow: hidden;

    :deep(.xterm-viewport) {
        overflow: hidden;
    }

    :deep(.xterm-screen) {
        width: 100% !important;
        height: calc(100vh - 90px) !important;
    }

    :deep(.xterm) {
        padding: 10px 0 10px 10px;
    }
}
