.icon-wrapper {
    position: relative;
    height: 100%;
    width: 100%;

    &.active {
        .tree-icon {
            //fill: #1ab394 !important;
            color: #ffffff !important;
        }

        &::before {
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            width: 2px;
            height: 100%;
            content: '';
            //background-color: #1ab394;
            background-color: #ffffff;
        }
    }
}

