<!DOCTYPE html>
<html>
<head>
    <title>JumpServer Terminal</title>
    <link rel="shortcut icon" href="/koko/static/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/koko/static/plugins/xterm/xterm.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="/koko/static/js/jquery-ui-1.12.1.min.css">
    <script type="text/javascript" src="/koko/static/js/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="/koko/static/js/jquery-ui-1.12.1.js"></script>
    <script type="text/javascript" src="/koko/static/plugins/xterm/xterm.js"></script>
    <script type="text/javascript" src="/koko/static/plugins/xterm/addons/fit/fit.js"></script>
    <script type="text/javascript" src="/koko/static/js/koko.js"></script>
</head>
<body>
<div id="terminal"></div>
<script type="text/javascript" charset="utf-8">
    initTerminal('terminal')
</script>
</body>
</html>
