<!DOCTYPE html>
<html>
<head>
    <title>JumpServer Terminal</title>
    <link rel="shortcut icon" href="/koko/static/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/koko/static/plugins/xterm/xterm.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="/koko/static/js/jquery-ui-1.12.1.min.css">
    <script type="text/javascript" src="/koko/static/js/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="/koko/static/js/jquery-ui-1.12.1.js"></script>
    <script type="text/javascript" src="/koko/static/plugins/xterm/xterm.js"></script>
    <script type="text/javascript" src="/koko/static/plugins/xterm/addons/fit/fit.js"></script>
    <script type="text/javascript" src="/koko/static/js/koko.js"></script>
    <style type="text/css">
        html {
            overflow: -moz-hidden-unscrollable;
            height: 100%;
        }

        body::-webkit-scrollbar {
            display: none;
        }

        body {
            -ms-overflow-style: none;
            height: 100%;
            width: calc(100vw + 18px);
            overflow: auto;
            background-color: rgb(31, 27, 27);
        }
    </style>
</head>
<body>
<div id="terminal"></div>
<script type="text/javascript" charset="utf-8">
    initTerminal('terminal')
</script>
</body>
</html>
