@font-face {
    font-family: 'Open Sans';
    src: url('./fonts/OpenSans-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('./fonts/OpenSans-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('./fonts/OpenSans-Light.ttf');
    font-weight: 300;
    font-style: normal;
}

html,
body,
#app {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#app {
    position: relative;
}

// 解决 h1 标签在 webkit 内核浏览器中文字大小失效问题
:-webkit-any(article, aside, nav, section) h1 {
    font-size: 2em;
}
