html,
body,
#app {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	font-family: opensans, sans-serif;
}

#app {
	position: relative;
}

// 解决 h1 标签在 webkit 内核浏览器中文字大小失效问题
:-webkit-any(article, aside, nav, section) h1 {
	font-size: 2em;
}
