@font-face {
  font-family: 'Open Sans';
  src: url('./fonts/OpenSans-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('./fonts/OpenSans-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('./fonts/OpenSans-Light.ttf');
  font-weight: 300;
  font-style: normal;
}


html {
  height: 100%;
  width: 100%;
  position: fixed;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #1f1b1b;
  overflow: auto;
  height: 100%;
  width: 100%;
  font-size: 13px;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body ::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
  background-color: #272323;
}

body ::-webkit-scrollbar-thumb {
  background-color: #494141;
  border-radius: 6px;
}

#app{
  height: 100%;
  width: 100%;
}

.el-container {
  margin: 0;
  width: 100%;
  height: 100%;
  padding: 0;
}

.el-main {
  margin: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  overflow: hidden;
}

.el-aside {
  height: 100%;
  overflow: hidden;
}

.el-dialog {
  background-color: #303133;
  color: #fff;
  border-radius: 6px;
}

.el-dialog__title {
  color: #fff;
}

.el-form-item__label {
  color: #fff;
}

.el-input__inner {
  background-color: #303133;
  color: #fff;
}

.el-select-dropdown__list {
  background-color: #303133;
  color: #fff;
}

.el-select-dropdown__item.selected{
  color: #c4c4c4;
}

.el-select:hover .el-input__inner:focus{
    border-color: #c4c4c4;
}

.el-select .el-input.is-focus .el-input__inner{
    border-color: #c4c4c4;
}

.el-result__title p{
  color: #fff;
}

.el-dialog__headerbtn:focus .el-dialog__close, .el-dialog__headerbtn:hover .el-dialog__close{
    color: #c4c4c4;
}

.el-dialog__body {
  padding-top: 10px!important;
}

.el-upload-dragger{
  background-color: #3f3d3d;
}

.el-upload-dragger:hover{
  border-color: rgb(134, 133, 133);
}

.el-upload-dragger .el-upload__text {
  color: #fff;
}

.el-dialog__footer .el-button {
  color: rgb(0, 0, 0, 0.5);
  background: #f0f0f0;
  border-color: #f0f0f0;
}

.el-dialog__footer .el-button:hover {
  background: rgb(134, 133, 133);
  border-color: rgb(134, 133, 133);
}

.el-dialog__footer .el-button.is-disabled:hover{
  color: rgb(0, 0, 0, 0.5);
  background: none;
}

.menu-list li {
  cursor: pointer;
}

.xterm .xterm-viewport {
  overflow-y: auto!important;
}

::-webkit-scrollbar {
  width: 9px;
}
::-webkit-scrollbar-track {
  border-radius:10px;
}
::-webkit-scrollbar-thumb {
  border-radius: 8px;
  box-shadow: 8px 10px 20px #494141 inset;
}
::-webkit-scrollbar-thumb:hover {
  box-shadow: 8px 10px 20px #878787 inset;
}