.ztree li span.button {
  line-height: 0;
  margin: 0;
  padding: 0;
  width: 18px;
  height: 20px;
  display: inline-block;
  vertical-align: top;
  border: 0 solid;
  cursor: pointer;
  outline: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-attachment: scroll;
}


.ztree li span.button {
  .edit, .remove, .add {
    margin-left: 4px;
    margin-right: -1px;
    vertical-align: top;
    *vertical-align: middle;
    padding-top: 10px;
  }
}

.ztree li span.button::before {
  font-family: FontAwesome;
  padding-top: 10px;
  padding-left: 2px;
  display: inline-block;
}

.ztree li span.button.chk {
  margin: 0 3px 0 0;
  cursor: auto;
  width: 12px;
  display: inline-block;
  padding: 0;
}


.ztree li span.button {
  margin-right: 2px;
  width: 16px;
  height: 20px;
}


.ztree li span.button, .view_icon {
  &.k8s_ico_open,
  &.k8s_ico_close,
  &.k8s_ico_docu {
    background: url('./icons/k8s.png') center left no-repeat;
  }

  &.ico_loading {
    background: url(./icons/loading.gif) no-repeat scroll 0 0 transparent;
  }

  &.oracle_ico_docu::before {
    content: "\f1c0";
  }

  &.database_ico_docu::before {
    content: "\f1c0";
  }

  &.cloud_ico_docu::before {
    content: "\f0c2";
  }

  &.cloud_ico_open::before {
    content: "\f07c";
  }

  &.cloud_ico_close::before {
    content: "\f07b";
  }

  &.chrome_ico_docu::before {
    content: "\f268";
  }


  &.public_ico_docu::before,
  &.router_ico_docu::before,
  &.other_ico_docu::before,
  &.firewall_ico_docu::before,
  &.general_ico_docu::before {
    content: "\f0a0";
  }

  &.ico_close::before {
    content: "\f07b";
  }

  &.ico_docu::before {
    content: "\f07b";
  }

  &.file_ico_docu::before {
    content: "\f022";
  }

  &.linux_ico_docu::before {
    content: "\f17c";
  }

  &.user-tie_ico_close::before {
    content: "\f2be";
  }

  &.user-tie_ico_open::before {
    content: "\f2be";
  }

  &.roots_close::before {
    content: "\f105";
  }

  &.center_open::before {
    content: "\f107";
  }

  &.center_close::before {
    content: "\f105";
  }

  &.bottom_open::before {
    content: "\f107";
  }

  &.bottom_close::before {
    content: "\f105";
  }

  &.chk.checkbox_false_part::before {
    content: "\f096";
    color: #aaaaaa;
  }

  &.chk.checkbox_false_full::before {
    content: "\f096";
  }

  &.chk.checkbox_false_full_focus::before {
    content: "\f096";
    color: #676a6c;
  }

  &.chk.checkbox_false_part_focus::before {
    content: "\f096";
    color: #cad96c;
  }

  &.chk.checkbox_false_disable::before {
    content: "\f096";
    color: #808080;
  }

  &.chk.checkbox_true_full::before {
    content: "\f046";
  }

  &.chk.checkbox_true_full_focus::before {
    content: "\f046";
  }

  &.chk.checkbox_true_part::before {
    content: "\f14a";
  }

  &.chk.checkbox_true_part_focus::before {
    content: "\f14a";
    color: #676a6c;
  }

  &.chk.checkbox_true_full_focus::before {
    content: "\f046";
    color: #676a6c;
  }

  &.chk.checkbox_true_part::before {
    content: "\f046";
    color: #aaaaaa;
  }

  &.chk.checkbox_true_part_focus::before {
    content: "\f046";
    color: #cad96c;
  }

  &.chk.checkbox_true_disable::before {
    content: "\f046";
    color: #808080;
  }

  &.chk.radio_false_full::before {
    content: "\f10c";
  }

  &.chk.radio_false_full_focus::before {
    content: "\f10c";
    color: #676a6c;
  }

  &.chk.radio_false_part::before {
    content: "\f10c";
    color: #aaaaaa;
  }

  &.chk.radio_false_part_focus::before {
    content: "\f10c";
    color: #676a6c;
  }

  &.chk.radio_false_disable::before {
    content: "\f1db";
    color: #808080;
  }

  &.chk.radio_true_full::before {
    content: "\f192";
  }

  &.chk.radio_true_full_focus::before {
    content: "\f192";
    color: #676a6c;
  }

  &.chk.radio_true_part::before {
    content: "\f192";
    color: #aaaaaa;
  }

  &.chk.radio_true_part_focus::before {
    content: "\f192";
    color: #aaaaaa;
  }

  &.chk.radio_true_disable::before {
    content: "\f1db";
    color: #808080;
  }

  &.switch {
    width: 18px;
    height: 20px;
  }

  &.root_open::before {
    content: "\f107";
  }

  &.root_close::before {
    content: "\f105";
  }

  &.roots_open::before {
    content: "\f107";
  }

  &.root_docu {
    background: none;
  }

  &.roots_docu::before {
  }

  &.noline_docu {
    background: none;
  }

  &.ico_open::before {
    content: "\f07c";
  }

  &.edit::before {
    content: "\f044";
  }

  &.remove::before {
    content: "\f1f8";
  }

  &.add::before {
    content: "\f067";
  }
}
